/* Start Rulze */

* {
  box-sizing: border-box
}

body {
  font-family: 'Open Sans', 'Scheherazade New';
  direction: rtl
}

html {
  scroll-behavior: smooth
}

body::-webkit-scrollbar {
  width: 10px
}

body::-webkit-scrollbar-track {
  background: var(--bg-scroll)
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 3px
}

:root {
  --main-color: #673ab7;
  --bg-scroll: #1C0C5B;
}

::selection {
  background-color: var(--main-color);
  color: #fff
}

.main-heading {
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 25px;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  color: var(--main-color);
  background: #f3f3f3
}

/* End Rulze */

/* Start Navbar */

.navbar {
  background: var(--main-color) !important;
  padding: 0 !important;
  font-size: 25px
}

.navbar .navbar-brand {
  margin-right: 0;
  display: none
}

.navbar .navbar-brand img {
  max-width: 40px;
  display: block;
  border-radius: 50px;
  border: 3px solid #fff
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  position: relative;
  font-size: 18px;
  padding: 13px 15px
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #7b4fc9
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #fff;
  background-color: var(--bg-scroll);
  font-weight: bold
}

.navbar .navbar-toggler {
  box-shadow: none !important;
  border: 2px solid #fff
}

/* End Navbar */

/* Start Header */

.header {
  background-size: cover;
  height: 100vh;
  position: relative;
  animation: ch-background 15s linear infinite
}

@keyframes ch-background {
  0%, 100% {
    background: url('../img/ban01.jpg') fixed
  }
  50% {
    background: url('../img/ban02.jpg') fixed
  }
  75% {
    background: url('../img/ban03.jpg') fixed
  }
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: rgba(44, 57, 75, .8)
}

.header .info {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -60%);
  color: #fff
}

.header .info .img-header {
  position: relative;
  width: 135px;
  height: 135px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .info .img-header > div {
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: var(--main-color);
  font-family: 'Lalezar';
  font-size: 22px
}

.header .info .img-header > div span:last-child {
  color: var(--bg-scroll)
}

.header .info .img-header::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 10px solid var(--bg-scroll);
  border-left-color: transparent;
  border-radius: 80px;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.header .info .text-header h3 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Lalezar'
}

.header .info .text-header p {
  font-size: 40px;
  margin: 0 0 20px
}

.header .info .text-header span {
  font-size: 22px
}

.header .info .go-down {
  position: absolute;
  bottom: -100px;
  left: 50%;
  color: var(--main-color);
  transform: translateX(-50%);
  font-size: 25px
}

.header .info .go-down i {
  position: relative;
  animation: up-and-down 2s infinite
}

@keyframes up-and-down {
  0%, 10%, 20%, 30%,
  50%, 80%, 100% {
    transform: translateY(0)
  }
  40%, 60% {
    transform: translateY(-15px)
  }
}

/* End Header */

/* Start About */

.about {
  padding: 60px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9e9
}

.about .info-content {
  margin: 25px 0
}

.about .info-content h1 {
  font-weight: bold;
  font-family: 'Lalezar';
  margin: 0;
  margin-bottom: 10px;
  font-size: 50px
}

.about .info-content p {
  margin: 0;
  margin-bottom: 10px;
  color: #777;
  font-size: 25px
}

.about .info-content .list-info {
  padding: 0;
  margin: 0
}

.about .info-content .list-info li {
  padding: 10px 15px;
  margin: 5px 0;
  position: relative
}

.about .info-content .list-info li:nth-child(odd) {
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 50px 0 0 50px
}

.about .info-content .list-info li::before {
  content: "\f100";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
  position: relative;
  top: 4px;
  left: 5px
}

.about a {
  text-decoration: none;
  background: var(--main-color);
  border: 0;
  padding: 10px 0;
  outline: none;
  width: 20%;
  margin: 40px auto 0;
  color: #fff;
  border-radius: 10px;
  transition: .7s;
  display: block;
  text-align: center
}

.about a:hover {
  background: var(--bg-scroll)
}

/* End About */

/* Start Bransh */

.branch {
  padding: 60px 0;
  border-bottom: 1px solid #e9e9e9
}

.branch .link p::before {
  content: "\f069";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #911F27;
  position: absolute;
  top: 33px;
  left: 10px;
  font-size: 10px
}

.branch .link p::after {
  content: "إضغط هنا";
  color: #000;
  background: var(--bg-scroll);
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 15px;
  color: #fff;
  padding: 3px 7px;
  border-radius: 50px
}

.branch .link a {
  text-decoration: none;
  color: #666
}

.branch .link p {
  background: #f7f7f7;
  padding: 20px 15px;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid #efefef;
  border-radius: 10px;
  margin: 55px 0;
  position: relative;
  cursor: pointer
}

.branch .price .box {
  margin-bottom: 25px
}

.branch .price .box h2 {
  font-weight: 600;
  margin: 0 auto 30px;
  width: fit-content
}

.branch .price .box {
  border: 1px solid #efefef;
  padding: 25px 0 0;
  border-radius: 10px;
  overflow: hidden
}

.branch .price .box .price-info {
  display: flex;
  justify-content: space-between
}

.branch .price .box .price-info p {
  font-weight: bold;
  font-family: 'Lalezar';
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  padding: 0 10px
}

.branch .price .box .datials-info-price .div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding: 20px 15px
}

.branch .price .box .datials-info-price .div:nth-child(odd) {
  background: #f7f7f7
}

.branch .price .box .datials-info-price .div:last-child {
  border: 0
}

.branch .price .box .datials-info-price .div p {
  margin: 0;
  font-size: 18px
}

.branch .price .box .form {
  padding: 10px 0 5px
}

.branch .price .box .form p {
  margin: 0;
  margin-bottom: 10px
}

.branch .price .box .form .input-resultes {
  max-width: 500px;
  margin: auto
}

.branch .price .box .form label {
  display: block;
  font-weight: bold;
  color: var(--main-color);
  text-align: right;
  margin: 0 20px 5px 0
}

.branch .price .box .form input[type="text"],
.branch .price .box .form select {
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  caret-color: var(--bg-scroll);
  padding: 7px 17px;
  outline: none;
  width: 95%;
  margin: 0 auto 10px;
  box-shadow: none;
  border-radius: 50px
}

.branch .price .box .form select {
  cursor: pointer
}

.branch .price .box .form .none {
  display: none
}

.branch .price .box .form input[type="submit"] {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 7px 15px;
  outline: none;
  width: 95%;
  margin: 10px auto 5px;
  color: #fff;
  border-radius: 50px
}

.branch .price .box .form span {
  display: block;
  margin-bottom: 5px;
  color: #B91646;
  font-weight: bold
}

/* End Bransh */

/* Start Products */

.products {
  padding: 60px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9e9
}

.products .box {
  background: #f1f1f1;
  padding: 10px;
  margin: 25px 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden
}

.products .box span {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 5px 25px;
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px 0 0 50px
}

.products .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: .7s;
  cursor: pointer
}

.products .box:hover::before {
  width: 200%;
  height: 200%
}

.products .box img {
  max-width: 100%
}

/* End Products */

/* Start Myphome */

.myphone {
  padding: 60px 0;
  border-bottom: 1px solid #e9e9e9
}

.myphone .box {
  background: #f7f7f7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  z-index: 1;
  padding: 30px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 30px
}

.myphone .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: #fff;
  z-index: -1;
  transition: .7s
}

.myphone .box:hover::before {
  width: 200%;
  height: 200%
}

.myphone .box span {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  color: #fff;
  font-size: 20px
}

.myphone .box i {
  color: #77D970
}

.myphone .box h2 {
  margin: 15px 0 0;
  font-weight: bold;
  font-family: 'Lalezar'
}

.myphone .box p {
  margin: 15px 0 0;
  font-size: 20px
}

/* End Myphome */

/* Start Main Social */

.contact {
  padding: 15px 0;
  background: #f7f7f7
}

.contact .social-media {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse
}

.contact .social-media li {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  background: #e9e9e9;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  position: relative;
  margin: 0 10px;
  transition: .7s;
  border: 1px solid transparent
}

.contact .social-media li:first-child:hover {
  border: 1px solid #1877f2
}

.contact .social-media li:nth-child(2):hover {
  border: 1px solid #128c7e
}

.contact .social-media li:last-child:hover {
  border: 1px solid #fbbc04
}

.contact .social-media li a {
  text-decoration: none;
  color: #000
}

/* End Main Social */

/* Start Footer */

.footer {
  background: var(--main-color);
  color: #fff;
  padding: 20px 0;
  font-size: 18px
}

.footer .copyright span a {
  color: #FF9B6A;
  font-weight: bold
}

/* End Footer */

/* Start Back Home Page */

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  width: 60px;
  height: 60px;
  color: #fff !important;
  border-radius: 50px;
  position: fixed;
  top: 50px;
  left: 20px;
  text-decoration: none;
  font-size: 25px;
  border: 2px dotted #fff
}

/* End Back Home Page */

.phone-section {
  padding: 40px 0
}

.phone-section .full-squer {
  margin: 30px 0;
  padding: 0;
  font-size: 20px
}

.phone-section .full-squer li:first-child i {
  color: #2FDD92
}

.phone-section .full-squer li:last-child i {
  color: #e9e9e9
}

.phone-section .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #e9e9e9;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
}

.phone-section .box.green {
  border: 2px solid #2FDD92
}

.phone-section .box .img-box img {
  width: 128px;
  max-width: 100%
}

.phone-section .box .content-box h4 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold
}

.phone-section .box .content-box p {
  margin: 0;
  margin-bottom: 5px;
  color: #777
}

.phone-section .box .content-box span {
  color: #888
}
